<nav class="nav">
	<ul>
		<li class="menu"><img src="/assets/images/icon-menu.png"></a> 
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">About</a></li>
	</ul>
</nav>
