<ul id="social-links">
	<a href="https://google.com/+IanCamporezBrunelli" target="_blank" rel="publisher><img 
src="{{@blog.url}}/assets/icons/gplus2.png"><p>Google+</img></p></a>
	<a href="https://github.com/camporez" target="_blank"><img src="{{@blog.url}}/assets/icons/github.png"><p>Github</p></img></a>
	<a href="{{@blog.url}}/rss" target="_blank"><img src="{{@blog.url}}/assets/icons/rss.png"><p>Subscribe</p></img></a>
</ul>
