@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('..fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('..fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,html {
	width: 100%;
	height: 100%;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before, blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

a {
	color: #28c0b7;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf: after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

/*Header*/
header {
	width: 100%;
	height: 65%;
	background: url('../assets/main.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#logo {
	margin-left: 15px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
	position: relative;
}

#logo img {
	width: auto;
	height: 44px;
}

nav {
	float: right;
	margin-right: 30px;
	margin-top: 8px;
	text-transform: uppercase;
	position: relative;
}

nav a {
	font-size: 14px;
	padding: 8px 12px;
	padding-bottom: 7px;
	letter-spacing: 2px;
	font-weight: 300;
	text-decoration: none;
}

#ctitle {
	height: 65%;
	width: 100%;
	display: table; 
	text-align: center;
	position: absolute;
	background: rgba(150, 150, 150, 0.25);
}

#title {
	display: table-cell; 
	vertical-align: middle;
}

header h1, header h2 {
	text-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
	color: #fff;
	font-weight: 100;
	line-height: 1.1;
	letter-spacing: 2px;
	margin: 0 5% 10px 5%;
}

header h2 {
	letter-spacing: 4px;
}

/*Content*/
.container {
	margin: 0 auto;
}

#content {
	padding: 50px 0;
}

article {
	font-size: 18px;
	color: #555;
	line-height: 1.6;
}

article h1 {
	font-weight: 100;
	text-transform: uppercase;
	line-height: 1.3;
	letter-spacing: 2px;
	font-size: 40px;
	margin-bottom: 30px;
	color: #111;
}

article h1 a {
	color: inherit;
	text-decoration: none;
}

article h1 a:hover {
	color: #28C0B7;
}

article h2 {
	font-weight: 100;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 2px;
	font-size: 32px;
	margin-bottom: 30px;
	color: #333;
}

article h3 {
	font-weight: 100;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 30px;
	color: #333;
}

article p {
	line-height: 1.6;
	color: #555;
	margin-bottom: 30px;
}

article {
	margin-bottom: 80px;
}

article ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 30px;
}

article ul ul {list-style: circle;margin-bottom: 0;}

article ol {
	list-style: decimal-leading-zero;
	margin-left: 30px;
	margin-bottom: 30px;
}

article blockquote {
	margin-left: 0px;
	margin-bottom: 30px;
	line-height: 1.2;
	letter-spacing: 2px;
	font-size: 20px !important;
	color: #333;
	font-style: italic;
	padding-left: 30px;
	border-left: 5px solid #e5e5e5;
}

article pre, article code {
	margin-bottom: 30px;
	font-size: 16px;
}

code, tt {
	padding: 1px 3px;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.85em;
	white-space: pre;
	border: 1px solid #E3EDF3;
	background: #F7FAFB;
	border-radius: 2px;
}

pre {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1.6em 0;
	border: 1px solid #E3EDF3;
	width: 100%;
	padding: 10px;
	font-family: Inconsolata, monospace, sans-serif;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	background: #F7FAFB;
	border-radius: 3px;
}

pre code, tt {
	font-size: inherit;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	background: transparent;
	border: none;
	padding: 0;
}

article pre {
	border-radius: 5px;
	box-shadow: 0 1px 5px #eee;
}

article hr {
	margin-bottom: 30px;
}

.meta {
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: 3px;
	font-size: 15px;
	display: block;
	padding-bottom: 15px;
	margin-top: -28px;
	font-weight: 300;
	color: #999;
}

.pagination {
	position: relative;
	width: 100%;
	margin-right: 0px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	text-decoration: none;
	color: #888;
}

.pagination a {
	border: 0px;
	color: #888;
}

.older-posts, .newer-posts {
	position: absolute;
	padding: 0 15px;
}

.older-posts {
	right: 0;
}

.page-number {
	padding: 2px 0;
}



.newer-posts {
	left: -15px;
}

.older-posts {
	right: -15px;
}

.older-posts:hover, .newer-posts:hover {
	color: #00BDB8;
	border-color: #00BDB8;
}
/*Footer*/

footer {
	clear: both;
	width: 100%;
	padding: 30px 0;
	float: left;
}

#social-links a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 1px;
	color: #999;
}

#social-links a:hover {
	text-decoration: underline;
	color: #28c0b7;
}

#rights {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	color: #999;
}
