@import url(default.css);

.container {
	width: 900px;
}

.container img {
	max-width: 100%;
}

nav  {
	padding-top: 30px;
}

header h1 {
	font-size: 43px;
}

header h2 {
	font-size: 20px;
}

#logo {
	position: fixed;
	margin-top: 10px;
}

#logo img {
	border-radius: 50%;
}

nav a {
	color: #fff;
	border-top: 4px solid transparent;
	transition-duration: 0.7s;
	margin-left: 15px;
}

nav a:hover {
	border-color: #fff;
}

.nav ul {
	text-shadow: 0px 0px 3px rgba(100, 100, 100, 1);
	margin: 0;
	padding: 0;
	text-align: right;
}

.nav li {
	list-style: none;
	display: inline-block;
	*display:inline;
}

.nav .menu a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}

.nav .menu {
	display: none;
}

.pagination {
	margin: 4rem auto;
}

#social-links {
	float: left;
	margin-left: 30px;
}

#social-links a {
	margin-right: 20px;
}

#social-links img {
	display: none;
}

#rights {
	float: right;
	margin-right: 30px;
}
